################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/Better
/src/Better.Web.WeChat/bin/Debug/netcoreapp3.1
/src/Better.Web.WeChat/obj
/src/Better.Application/obj
/src/Better.BackOffice.Mvc/obj
/src/Better.WeChat.Mvc/obj
/src/UUMS.DAL/bin/Debug/netcoreapp3.1
/src/UUMS.DAL/obj
/src/UUMS.Enitites/obj
/src/UUMS.Services/obj
/src/UUMS.Services/bin/Debug/netstandard2.0
