################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/src/.vs/Better
/src/Better.Web.WeChat/bin/Debug/netcoreapp3.1
/src/Better.Web.WeChat/obj
/src/Better.Application/obj
